body {
	background:#b5d0d0;
	color:#285585;
	font-family:Arial;
}
body#home {
	background:url('images/leaflet-panel.png') no-repeat top left #b5d0d0;
	margin-left:200px;
}

a {
	color:#1978cf;
}
a:hover {
	color:#fff;
}
h2, h3, h4 {
	white-space:nowrap;
	margin:1em 0 0 0;
}
h3 a,
h3 a:hover {
	text-decoration:none;
}
#desc {
	float: left;
	margin-bottom: 1em;
	position: relative;
	white-space:nowrap;
	font-size:1em;
}
#map {
	border-radius:.125em;
	border:2px solid #1978cf;
	box-shadow: 0 0 8px #999;
	float:left;
	width:100%;
	max-width: 600px;
	height:600px;
}
label {
	float: left;
}
pre {
	font-family: "Courier New";
	font-size: .85em;
	color: #333;
	float: left;
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background-color: #eee;
	box-shadow: inset 2px 2px 4px #ccc;
}
#copy {
	position:fixed;
	z-index:1000;
	right:150px;
	top:-8px;
	font-size:.85em;
	padding:8px 8px 2px 8px;
	background: #323b44;
	border: 2px solid #737c85;
	border-radius:.7em;
	opacity: 0.9;
	box-shadow:0 0 8px #5f7182;
	color:#eee
}
#copy a {
	color:#ccc;
	text-decoration:none
}
#copy a:hover {
	color:#fff
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	filter: alpha(opacity=80);
	-khtml-opacity: .8;
	-moz-opacity: .8;
	opacity: .8;
}

#comments {
	margin-top:50px;
	clear:both;
}

#config {
	margin: 0 10px;
	padding: 0;
	height: 370px;
	width: 600px;
	font-size: 10px;
	box-shadow: inset 2px 2px 4px #ccc;
	border: 2px solid #1978cf;
}
