
/* PANEL LAYERS */
.leaflet-panel-layers .leaflet-panel-layers-list,
.leaflet-panel-layers-expanded .leaflet-panel-layers-toggle {
	display: block;
}
.leaflet-panel-layers-expanded .leaflet-panel-layers-list {
	display: block;
}
.leaflet-top.leaflet-right .leaflet-panel-layers:not(.leaflet-panel-layers-button-collapse) {
	margin: 0;
}
.leaflet-panel-layers {
	background: rgba(255,255,255,0.5);
	box-shadow: -2px 0 8px rgba(0,0,0,0.3);
	padding: 4px;
	width: 30px;
	min-width: 30px;
	overflow: hidden;
}
.leaflet-panel-layers-button-collapse {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	width: 36px;
	height: 36px;
	padding: 0;
}
.leaflet-panel-layers .leaflet-control-layers-toggle,
.leaflet-panel-layers-button-collapse .leaflet-panel-layers-list {
	display: none;
}

.leaflet-panel-layers-expanded {
	width: auto;
	padding: 4px;
}
.leaflet-panel-layers-expanded:hover  {
	overflow-y: auto;
	overflow-x: hidden;
}
.leaflet-panel-layers-button-collapse.leaflet-panel-layers-expanded  {
	width: initial !important;
    height: auto;
    margin: 0;
    border-radius: 0;
}
.leaflet-panel-layers-expanded .leaflet-panel-layers-list {
	display: block;
}
/*.leaflet-panel-layers-expanded:hover .leaflet-panel-layers-list {
	margin-right: 10px;
}
.leaflet-panel-layers-expanded:hover .leaflet-panel-layers-group {
	margin-right: -10px
}*/
.leaflet-panel-layers-separator {
	border-top:1px solid rgba(0,0,0,0.3);
	height: 8px;
	margin: 12px 4px 0 4px;
	clear: both;
}	
.leaflet-panel-layers-group {
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
	position: relative;
	padding: 2px 4px;
	margin-bottom: 4px;
	width: auto;
	overflow: hidden;
	font-weight: bold;
}
.leaflet-panel-layers-group.collapsible:not(.expanded) {
    height: 20px;
}
.leaflet-panel-layers-group.collapsible:not(.expanded) .leaflet-panel-layers-item {
    display: none;
}
.leaflet-panel-layers-icon {
	text-align: center;
	line-height: 22px;
	height: 22px;
	width: 22px;
	background: #fff;
	display: inline-block;
}
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
	display: inline-block;
	min-width: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	height: 20px;
	float: right;
	background: none;
	cursor: pointer;
	
}
.leaflet-panel-layers-base .leaflet-panel-layers-item,
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	display: block;
	clear: both;
	float: none;
	line-height: 20px;
	height: 22px;
	white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	margin-bottom: 4px;
	padding: 2px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: auto;
	overflow: hidden;
	font-weight: bold;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item:hover {
	border: 1px solid #888;
	cursor: pointer;
}
.leaflet-panel-layers-overlays span {
	display: inline-block;
	width: auto;
	overflow: hidden;
}
.leaflet-panel-layers-overlays input {
	float: right;
	margin: 4px;
	display: none;
}
.leaflet-panel-layers-expanded .leaflet-panel-layers-overlays input {
	display: block;
}
.leaflet-panel-layers-margin {
    height: 25px;
}